:root {
  --color-light-blue: #7f8cff;
  --color-blue: #6070ff;
  --color-dark-blue: #172b4d;
  --color-primary: #396df2;
  --color-icons: #505f79;
  --color-body: #344563;
}

body {
  color: var(--color-body);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1,
h2 {
  color: var(--color-dark-blue);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin: 0;
  padding-top: 9.375rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.75rem;
  margin: 0.8rem 0;
}

h3 {
  color: var(--color-light-blue);
  font-weight: 500;
}

h4 {
  font-weight: 600;
  font-size: 0.813rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}

a {
  text-decoration: none;
}

.container {
  max-width: 375px;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.page--logo {
  width: 60%;
}

.headline {
  background-image: url(images/background.png);
  background-position: 0 50px;
  background-repeat: no-repeat;
  padding: 0 1.5rem;
}

.headline__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.headline__list_item {
  width: 3rem;
}

.headline__list_item_icon {
  fill: var(--color-icons);
}

/* Buttons */
.btn--primary {
  background: #ebebff;
  border-radius: 8px;
  border-style: none;
  color: var(--color-blue);
  font-weight: 500;
  padding: 4px 12px;
}

.btn--secondary {
  background-color: #ffff;
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  color: var(--color-primary);
  font-weight: 500;
  padding: 8px 16px;
}

/* Card */
.card {
  padding: 1rem;
}

.card--image {
  width: 100%;
}

.card--body-details {
  display: flex;
}

.card--body-list {
  display: flex;
  flex-direction: row;
}

.card--body-role {
  color: #7a869a;
  font-weight: 600;
  font-size: 0.813rem;
  margin-right: 2rem;
}

.card--body-year {
  color: #7a869a;
  font-weight: 600;
  font-size: 0.813rem;
}

.card--body-text {
  margin-top: 0;
}

.card--languages {
  margin-bottom: 2rem;
}
