body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

h2 {
  font-weight: 500;
}
