<div class="wrapper">
  <div class="card">
    <img
      class="card--image"
      src="images/project1.png"
      alt="Tonic project image"
    />
    <div class="card--body">
      <h2>Tonic</h2>
      <div class="card--body-details">
        <h4>CANOPY</h4>
        <div>
          <ul class="card--body-list">
            <li class="card--body-role">Back End Dev</li>
            <li class="card--body-year">2015</li>
          </ul>
        </div>
      </div>
      <p class="card--body-text">
        A daily selection of privately personalized reads; no accounts or
        sign-ups required
      </p>
    </div>
    <div class="card--languages">
      <button class="btn--primary">html</button>
      <button class="btn--primary">css</button>
      <button class="btn--primary">javascript</button>
    </div>
    <div class="card--project-btn">
      <button class="btn--secondary">See Project</button>
    </div>
  </div>
</div>
